<mat-toolbar color ="primary">
  <span>ViewTube App</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="ui centered grid" style="margin-top: 3rem;">
  <div class="fourteen wide column">

    <h1 class="ui centered aligned header">
      <span style="vertical-align: middle;">What's On Your Mind?</span>
    </h1>
    <app-search-container></app-search-container>
    <br>
    <br>

    <router-outlet></router-outlet>
    <br>
    <br>
    <app-categories></app-categories>
  </div>
</div>

